.box {
    height: 190px;
    padding: 8px;
    text-align: center;
}

h1{

    color: aqua;
}

.box:nth-child(even) {
    background-color: #cccccc;
}

.box:nth-child(odd) {
    background-color: #aaaaaa;
}
