.allTotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.allTotal span {
    padding-bottom: 20px;
}

.theCard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.listBasket {
    font-size: 15px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.payTitle {
    margin-left: 2vh;
}

.buttonPay {
    display: flex;
    justify-content: space-between;
}
